.banner
{
position:relative;
width:70%;
margin:0 auto;
}
.banner img
{
width:70%;
color:blue;
}
.heading
{
color:black;
position:absolute;
top:10%;
width:100%;
font-size:60px;
}
.head
{
top:10%;
position:relative;
width:100%;
}
.application
{
top:20%;
position:absolute;
width:100%;
}
#about
{
top:10%;
position:relative;
width:70%;
}
.code
{
color:blue;
}
.square
{
position:relative;
width:70%;
margin:0 auto;
}
.square img
{
width:70%;
color:blue;
}
.skl
{
color:white;
position:absolute;
top:1%;
width:40%;

}
.para
{
color:white;
top:65%;
position:absolute;
width:90%;
}
.list
{
color:white;
top:70%;
position:absolute;
width:65%;

}
